main {
  margin-top: 60px;
}

form {
  width: 400px;
  margin-bottom: 10px;
}

ul {
  margin-bottom: 0px;
}

#completedTaskList .content {
  text-decoration: line-through;
}

.hero {
  background: rgb(236,240,241);
  background: linear-gradient(318deg, rgba(236,240,241,1) 0%, rgba(118,157,246,1) 49%, rgba(105,165,247,1) 100%);
}

.checkbox-size {
  margin: .3rem;
}